body, html{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.24);
    font-family: 'Segoe UI';
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

#loading{
    box-sizing: border-box;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    padding-top: 240px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    z-index:100;
}

#mainDisplay1{
    height: 100%;
    width: 100%;
    padding:50px;
    background-image: url("./img/backgroundImg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

#backgroundBlur1{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-image: url("./img/innerBackgroundImg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#mainName{
    display: inline-block;
    padding-top: 100px;
    color: rgb(43, 43, 43);
    font-family: 'Segoe UI', sans-serif;
    font-size: 90px;
    font-weight: 600;
    cursor: default;
}

#mainNameLine{
    width: 40%;
    height: 5px;
    background-color: rgb(43, 43, 43);
    outline: none;
    border:none;
}

#mainPost{
    display: inline-block;
    padding-top: 10px;
    color: rgb(43, 43, 43);
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    font-weight: 600;
    cursor: default;
}

#downBtn{
    margin-top: 140px;
    cursor: pointer;
}

.subHeading{
    padding-left: 100px;
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 30px;
    font-weight: 700;
}

#aboutMeContent{
    width: 60%;
    margin-bottom: 60px;
    margin-top: 60px;
    margin: auto;
    font-size: 20px;
    text-align: justify;
}

#sliderSection{
    display: flex;
    padding-bottom: 55px;
    margin-top:20px;
    align-items:center;
}

#sliderBtnPannel{
    display: flex;
    flex-direction: column-reverse;
    width: 150px;
    height: 400px;
}

#sliderImage{
    box-sizing: border-box;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    border-right: 1px solid rgb(204, 204, 204);
}

#sliderContent{
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
}

.realImage{
    height: 200px;
    -webkit-box-shadow: 0px 0px 139px -20px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 139px -20px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 139px -20px rgba(0,0,0,0.21);
}

#scHeader{
    width: 80%;
    font-size: 20px;
    font-weight: 600;
}

#borderLight{
    height: 1px;
    width: 80%;
    background-color: black;
}

#borderHeavy{
    height: 5px;
    width: 80px;
    background-color: black;
}

#scContent{
    height: 120px;
    width: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Ubuntu';
    text-align: justify;
}

.sliderBtn{
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-top: 20px;
    margin-left: 138px;
    border-radius: 6px;
    background-color: rgb(179, 179, 179);
    cursor: pointer;
}

.selected{
    background-color: rgb(41, 41, 41);
}

#contactContainer{
    background-color: rgb(167, 167, 167);
}

#contactMe{
    padding-bottom: 60px; 
    font-size: 20px;
    text-align: center;
}

@media(max-width:640px){
    #loading{
        padding-top: 200px;
    }
    
    .subHeading{
        margin: 0px;
        padding: 0px;
        padding-top: 23px;
        text-align: center;
    }

    #mainName{
        font-size: 70px;
    }
    
    #downBtn{
        margin-top: 85px;
    }
    
    #aboutMeContent{
        width: 85%;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 20px;
        text-align: justify;
    }

    #sliderSection{
        display: block;
    }

    #sliderBtnPannel{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content:center;

    }
    
    #sliderImage{
        box-sizing: border-box;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 35px;
        margin-top: 35px;
        border-right: 0px;
        box-sizing: border-box;
    }

    .realImage{
        width: 90%;
        height: auto;
    }

    #scContent{
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .sliderBtn{
        display: block;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

