body, html{
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(236, 236, 236);
}

#mainDisplay1{
    height: 100%;
    width: 100%;
    background-image: url("./backgroundImg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding:50px;
}

#backgroundBlur1{
    height: 100%;
    width: 100%;
    background-image: url("./innerBackgroundImg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
    text-align: center;
}

#mainName{
    display: inline-block;
    padding-top: 100px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 90px;
    font-weight: 600;
    color: rgb(43, 43, 43);
    opacity: 1;
    cursor: default;
}

#mainNameLine{
    width: 40%;
    height: 5px;
    outline: none;
    border:none;
    background-color: rgb(43, 43, 43);
}

@media(max-width: 600px) {
    #mainName{
        font-size: 70px;
    }

}