body, html{
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 32pt;
    font-weight: 600;
}
 span{
    transform: scale(0.2,1);
 }