body, html{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.486);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#loading{
    display: none;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index:100;
    text-align: center;
    padding-top: 240px;
    box-sizing: border-box;
      
}

.subHeading{
    padding-left: 100px;
    font-size: 30px;
    font-weight: 700;
}

#sliderSection{
    display: flex;
    align-items:center;
}

#sliderImage{
    /* background-color: aqua; */
    width: 100%;
    text-align: center;
    margin-top: 60px;
    padding-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
    border-right: 1px solid rgb(204, 204, 204);
}

#sliderContent{
    /* background-color: brown; */
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}

.realImage{
    height: 200px;
    -webkit-box-shadow: 0px 0px 139px -20px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 139px -20px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 139px -20px rgba(0,0,0,0.21);
}

#scHeader{
    font-size: 20px;
    font-weight: 600;
    width: 80%;
}
#borderLight{
    height: 1px;
    width: 80%;
    background-color: black;

}
#borderHeavy{
    height: 5px;
    width: 80px;
    background-color: black;
}

#scContent{
    width: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Ubuntu';
    text-align: justify;
}

.sliderBtn{
    display: inline-block;
    height: 5px;
    width: 35px;
    margin-right: 10px;
    background-color: rgb(179, 179, 179);
}

.selected{
    background-color: rgb(41, 41, 41);
}
@media(max-width:640px){
    #loading{
        padding-top: 200px;
    }
    #sliderSection{
        display: block;
    }
    #loadingImg{
        width: 100%;
    }
    .realImage{
        width: 90%;
        height: auto;
    }
    .subHeading{
        margin: 0px;
        text-align: center;
        padding: 0px;
    }
    #sliderImage{
        /* background-color: aqua; */
        width: 100%;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 35px;
        margin-top: 35px;
        box-sizing: border-box;
        border-right: 0px;
    }
    #scContent{
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
}